.conteiner {
  background-color: #428BCA;
  width: 80%;
  margin-left: 10%;
}

.navbar {
  margin-bottom: 0;
  background-color: #A0D7F6;
}

.jumbotron {
  background: #428BCA;
  color: white;
  padding: 20px 0;
}

.main {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
}

.post .post-title a {
  color: #333;
}

.post .thumb {
  margin-right: 10px;
  width: 40%;
}

.post .thumb img {
  width: 100%;
}

.post .contenedor-botones {
  width: 100%;
}

.aside {
  float: left;
}

.jumbotron div img {
  float: right;
  position: relative;
}

@media screen and (max-width: 768px) {
  .post .thumb {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.thumbnail {
  float: left;
}

.logo {
  width: 100%;
}

div .row {
  background-color: #2095D7;
  color: white;
}

